body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.4);
    border-radius: 20px;
    border: 3px solid transparent;
}

.custom-scrollbar-horizontal::-webkit-scrollbar {
    height: 6px;
}
.custom-scrollbar-horizontal::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.4);
    border-radius: 20px;
}